<div class="search_bar">
  <button (click)="onSearch()">
    <svg xmlns="http://www.w3.org/2000/svg"
         height="1em"
         viewBox="0 0 512 512">
      <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
    </svg>
  </button>
  <input type="text" [(ngModel)]="searchValue" placeholder="What are you looking for ?" />
</div>

<div class="pictures">

  <div *ngFor="let picture of pictures" class="picture_container">
    <div class="img_wrapper">
      <button (click)="onPictureClick(picture)" >
        <img src="{{picture.imgPath}}" alt="{{picture.title}}" />
      </button>

      <div class="image-details">
        <div class="image_title">{{picture.title}}</div>
        <div class="image_author">By {{picture.artistName}}</div>
        <p>
          {{picture.description}}
        </p>
      </div>
    </div>
  </div>



</div>



